
<h2 style="margin-bottom: 5px">
  <a href="<%=url(:blog_post, :slug => blog_post.slug)%>" style="color: black">
    <%=blog_post.title%>
  </a>
</h2>

<p><em>Posted <%=blog_post.created_at%></em></p>

<div><%=blog_post.body %></div>

<%= partial :share, :locals => {:key => blog_post.slug, :url => "http://#{ENV['DOMAIN']}#{url(:blog_post, :slug => blog_post.slug)}"} %>
