
<div class="share-buttons">
  
  <a id="facebook-share-<%=key%>" class="popup" href="http://www.facebook.com/sharer/sharer.php?u=<%=CGI::escape(url)%>"><img src="/images/share/facebook.png" /></a>
  <span id="facebook-share-count-<%=key%>" class="share-count"><i></i><u></u></span>
  <script>
    $(function() {
      $.getJSON('http://graph.facebook.com/?ids=<%=CGI::escape(url)%>', function(data) {
        $('#facebook-share-count-<%=key%>').append(data['<%=url%>']['shares'] || 0);
      });
    });
  </script>

  <a id="twitter-share-<%=key%>" class="popup" href="http://twitter.com/intent/tweet?<%=[:url,:via,:text,:in_reply_to,:hashtags,:related].map { |x| begin "#{x}=#{CGI::escape(eval(x.to_s))}" rescue nil; end }.compact.join('&') %>"><img src="/images/share/twitter.png" /></a>
  <span id="twitter-share-count-<%=key%>" class="share-count"><i></i><u></u></span>  
  <script>
    $(function() {
      $.getJSON("http://urls.api.twitter.com/1/urls/count.json?url=<%=CGI::escape(url)%>+&callback=?", function(data) {
        $('#twitter-share-count-<%=key%>').append('<a style="color:black" target="_blank" href="http://twitter.com/search?q=<%=CGI::escape(url)%>">'+data['count']+'</a>');
      });
    });
  </script>

</div>

