<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%
    [
      'bootstrap.min.css',
      'font-awesome.min.css',
      'share.css',
      'app.css'        
      ].each { |file| %> 
      <link rel="stylesheet" href="/stylesheets/<%=file%>" />    
    <% } %>

    <% [
      'jquery-1.11.2.min.js',
      'bootstrap.min.js',
      'app.js',
      ].each { |file| %>
      <script src="/javascripts/<%=file%>"></script>
    <% } %>
      
    <script src="/webshim/polyfiller.js"></script> 
    <script>
      webshims.polyfill();
    </script>      

    <%= favicon_tag 'favicon.png' %>
    <title><%=@title%></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:title" content="<%=@title%>" />
    <meta property="og:image" content="<%=@og_image%>" />

  </head>
  <body>

    <%= partial :alert %>
    <%= partial :nav %>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
