<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%
    [
      'bootstrap.min.css',
      'font-awesome.min.css',
      'share.css',
      'app.css'        
      ].each { |file| %> 
      <link rel="stylesheet" href="/stylesheets/<%=file%>" />    
    <% } %>

    <% [
      'jquery-1.11.1.min.js',
      'bootstrap.min.js',
      'app.js',
      ].each { |file| %>
      <script src="/javascripts/<%=file%>"></script>
    <% } %>

    <script src="/webshim/polyfiller.js"></script> 
    <script>
      webshims.polyfill();
    </script>      

    <%= favicon_tag 'favicon.png' %>
    <title><%=@title%></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:title" content="<%=@title%>" />
    <meta property="og:image" content="<%=@og_image%>" />

  </head>
  <body>

    <%= partial :alert %>

    <div class="container-fluid">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%=url(:home)%>">ActivateTemplate</a>
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse"> 

          <%= eval(f('nav')) %>

          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <% if current_account %>              
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"><%=current_account.name%> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%=url(:accounts, :edit)%>">Edit profile</a></li>
                    <li><a href="<%=url(:accounts, :sign_out)%>">Sign out</a></li>
                  </ul>
                </li>               
              <% else %>                            
                <li>
                  <a href="<%=url(:accounts, :sign_up)%>">Sign up</a>
                </li>
                <li>
                  <a href="<%=url(:accounts, :sign_in)%>">Sign in</a>
                </li>                
              <% end %>
            </ul>
          </div>
        </div>
      </nav>    

      <%= yield %>

    </div>

  </body>
</html>
