<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><% if @title %><%=@title%> · <% end%>ActivateApp</title>

    <%
    [
      '/css/bootstrap.min.css',
      '/css/bootstrap-theme.min.css',
      '/css/font-awesome.min.css',
      '/css/bootstrap-wysihtml5-0.0.3.css'    
    ].each { |file| %> 
      <link rel="stylesheet" href="<%=file%>" />    
    <% } %>

    <% [
      '/js/jquery-1.9.1.min.js',
      '/js/jquery-migrate-1.1.1.js',
      '/js/jquery-ujs.js',
      '/js/bootstrap.min.js',
      '/js/wysihtml5-0.3.0.js',
      '/js/bootstrap-wysihtml5-0.0.3.js',
      '/js/jquery.ba-bbq.min.js',
      '/js/jquery.fitvids.js',
      '/js/jquery.popupWindow'
    ].each { |file| %>
      <script src="<%=file%>"></script>
    <% } %>

    <%= favicon_tag 'favicon.png' %>

    <meta name="description" content="<%=Fragment.find_by(slug: 'description').try(:body)%>">
    <meta property="og:image" content="http://<%=ENV['DOMAIN']%><%=image_path('og.png')%>" />     

    <style>
      body { padding: 60px 0; }
      .restore-opacity { opacity: 0.5; }
      .restore-opacity:hover { opacity: 1 !important  }
      a.edit { color: black; text-decoration: none; opacity: 0.25 }
      a.edit:hover { opacity: 1 }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%=url(:home)%>">ActivateApp</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <%= render_navigation :items => [
          {:key => :accounts, :name => 'Accounts', :url => url(:accounts_index), :options => {:container_class => 'nav navbar-nav'}},
          {:key => :blog, :name => 'Blog', :url => url(:blog_index), :options => {:container_class => 'nav navbar-nav'}}              
        ]
      %>   
        <ul class="nav navbar-nav navbar-right">
          <% if current_account %>              
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"><%=current_account.name%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%=url(:accounts_edit)%>">Edit profile</a></li>
                <li><a href="<%=url(:accounts_sign_out)%>">Sign out</a></li>
              </ul>
            </li>               
          <% else %>                            
            <li>
              <a href="<%=url(:accounts_sign_up)%>">Sign up</a>
            </li>
            <li>
              <a href="<%=url(:accounts_sign_in)%>">Sign in</a>
            </li>                
          <% end %>
        </ul>
      </div>
    </nav>


    <div class="container">

      <div style="z-index: 1040; width: 40%; margin-left: -20%; left: 50%; position: absolute; margin-top: -40px">
        <% {:error => 'alert-danger', :warning => 'alert-warning', :notice => 'alert-info'}.each { |k,v| %>
          <% if flash[k] %>
            <div class="fade in alert <%=v%> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= flash[k].html_safe %>
            </div>
          <% end %>        
        <% } %>       
      </div>
      <script>
        $(function() {
          $(".alert").alert()
          window.setTimeout(function() { $(".alert").alert('close'); }, 3000);
        });
      </script>

      <%= yield %>

    </div>

  </body>
</html>
