

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% form_for @account, @account.new_record? ? url(:accounts_new) : url(:accounts_edit), :class => 'form-horizontal', :multipart => true do |f| %>
      <%= f.text_block :name %>
      <%= f.text_block :email %>
      <%= f.image_block :picture, rotate: false %>
      <%= f.select_block :time_zone %>
      <%= f.password_block :password %>
      <%= f.password_block :password_confirmation %>
      <%= f.submit_block %>  
    <% end %>

    <script>
      $(function() {
        $('.use-picture').popover({trigger: 'hover', html: true});
      });
    </script>
    <% Account.providers.each { |provider| %>
      <% if @account.persisted? or (session['omniauth.auth'] and session['omniauth.auth']['provider'] == provider.omniauth_name) %>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="text-align: right"><i class="fa fa-<%=provider.icon%>"></i></div>
          <div class="col-md-8">      
            <div class="row">
              <% if connection = @account.connections.select { |connection| connection.provider == provider.display_name }[0] %>
                <a class="col-md-4" style="margin-top: 5px" target="_blank" href="<%= provider.profile_url.call(connection.omniauth_hash) %>"><%=provider.nickname.call(connection.omniauth_hash)%></a>
                <% if current_account %>
                  <div class="col-md-3">
                    <a class="use-picture btn btn-default" href="<%=url(:accounts_use_picture, :provider => provider.omniauth_name)%>" data-content="<img src='<%=provider.image.call(connection.omniauth_hash)%>'>" title="Click to use this picture">Use picture</a>
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-default" href="<%=url(:accounts_disconnect, :provider => provider.omniauth_name)%>">Disconnect</a>
                  </div>
                <% end %>                
              <% else %>
                <span class="col-md-4" style="margin-top: 5px">Not connected</span>
                <div class="col-md-3">
                  <a class="btn btn-default" href="/auth/<%=provider.omniauth_name%>">Connect</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% } %>   

  </div>
</div>